# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Backup files
*.bak

# SQL Server / SSMS stuff
*.sqlplan

# Python (if you use it later)
__pycache__/
*.pyc

# VS Code
.vscode/
